<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сервис рассчета оплаты труда</title>
    <link rel = 'stylesheet' href = '../style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <a href = '/main'> Возврат на главную </a>
    <br>


</body>

<h2 class=text-dark"> 101000, Москва, Центральный административный округ, Басманный район
ул. Мясницкая, 26а, корпус 1</h2>
<form action="mailto:d.kononchuk@outlook.com" enctype="text/plain">
    <p><input type="submit" class = 'btn btn-info' value="Написать письмо"></p>
</form>
</html>