<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<ul>
    <li>
        <a href = '/main'>Главная страница</a>
    </li>

<ul>
    <li>
        Средняя заработная плата {{data['user_request']}}: {{data['model']}}
    </li>
    <li>
        Выводим ТОП-10 навыков и частота их встречаемости: {{data['user_skills']}}
    </li>
</ul>
</body>
</html>